.update-btn {
    background: url('<?= ROOT ?>/assets/images/delete.svg') no-repeat center center;
    border: none;
    padding: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  
  
  .delete-btn {
      background: url('<?= ROOT ?>/assets/images/delete.svg') no-repeat center center;
      border: none;
      padding: 0;
      width: 24px;
      height: 24px;
      cursor: pointer;
    }
    
    .confirm-delete {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 9999;
    }
    
    .confirm-delete .popup {
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      text-align: center;
    }
    
    .confirm-delete .popup h3 {
      margin-top: 0;
    }
    
    .confirm-delete .popup p {
      margin-bottom: 20px;
    }
    
    .confirm-delete .popup button {
      margin-right: 10px;
      padding: 5px 10px;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 5px;
      cursor: pointer;
    }
    
    .confirm-delete .popup button:hover {
      background-color: #ccc;
    }

    .error{
      color: red;
      font-size: 12px;
      margin: 0px;
      padding: 0px;
    }
    